<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div>
        <p><span>&#169;</span>milik. All Rights Reserverd</p>
    </div>
    <div class="footer-links-container">
        <div><a href="/">Home</a></div>
        <div><a href="/users/profile/<%= locals.user.id%>">MyProfile</a></div>
    </div>
</footer>