<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link rel="stylesheet" href="/css/home.css">
<div class="main-container">

   <h1>Codeial</h1>

   <section id="feed-posts">
      <h4>
         Posts
      </h4>

      <!--show the form only if user is logged input-->
      <div class="post-creation-container">

         <% if (locals.user) {%>

            <form action="/posts/createPost" id="new-post-form" method="POST">
               <textarea name="content" id="" cols="30" rows="3" placeholder="Add your Question here...." required></textarea>
               <input type="submit" value="Post">
            </form>
   
         <%}%>

      </div>
      
      <div class="post-list-container">
         
            <% for(post of posts){ %>  <!--itirating through all items of posts-->

               <%- include('_postdisplay')-%>
               
            <%}%>
         
      </div>

   </section>
   
   <div class="users-list-display-container">

      <section id="user-friends">
         <h4>
            Friends
         </h4>

         <% for ( user of all_users ) {%>
            <p><a href="/users/profile/<%= user.id%>"><%= user.name %></a></p>
         <%}%>
      </section>
   </div>

</div>
   
   