<h1>Login Here:</h1>
<form action="/users/createSession" method="POST">
    <label for="Email">Email</label>
    <input type="text" name="Email" required placeholder="Your Email">
    <label for="pwd">Password</label>
    <input type="text" name="pwd" required placeholder="Your Password">
    <input type="submit" value="Sign In">
</form>