<link rel="stylesheet" href="/css/profile.css">
    <h1>View your profile here</h1>
    <p>Name:<%=user.name%></p>
    <p>Email Id: <%= user.email%></p> 

    <div>
        <a href="/users/logout"><button>Sign Out</button></a>
    </div>