<link rel="stylesheet" href="/css/profile.css">

    <div class="profile-container">
        <div class="profile-title-container">
            <h2>Profile</h2>
        </div>
        <div class="profile-details-container">

            <div class="profile-about-me profile-details-border">
                <p>
                    I am a aspiring Full Stack Web Developer, I have learning MERN tech stack forthe past 3 months and working on mini projects
                </p>
            </div>

            <div class="profile-user-image profile-details-border">
                <img src="/images/user_profile_image.png" alt="User Profile Image">
            </div>

            <div class="profile-details profile-details-border">

            </div>
        </div>
    </div>
    <!-- <h1>View your profile here</h1>
    <p><%= user.name%></p>
    <p><%= user.email%></p> -->