.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2eaf7d;
  height: 100vh;
  position: relative; }
  .profile-container .profile-details-container {
    display: flex;
    align-items: center; }
  .profile-container .profile-details-border {
    border: 1px solid #c1f6ed;
    border-radius: 3px; }
